<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale="><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>Document</title>
<style>
    table {
  font-family: arial, ;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: maroon;
}

tr:nth-child(even) {
  background-color: #black
;
}
</style>
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        <input type="text"name="nama">
        <button type="submit">simpan</button>
    </form>
      <br>
        <h1 style="text-align: center;"> TUGAS PRAXIS ( ALAM SYAH ) </h1>
   <table>
      <br>
        <tr style= "background-color:darkgray;">
        <th>Company</th>
        <th>Contact</th>
        <th>Action</th>
      </tr>
      {%for d in data%}

      <tr style="background-color:greenyellow;">
        <td style="color:black",>{{d.id}}</td>
        <td style="color:grey;">{{d.nama}}</td>
        <td style="color: teal;">
          <a href="detail/{{d.id}}">detail</a>
          <a href="edit/{{d.id}}"class="btn-success">Edit</a>
          <a href="hapus/{{d.id}}">Hapus</a>
        </td>
      </tr>
      {%endfor%}

   </table>
   <br>
   <p style="text-align: center;">THANKS TO ORDER, HAPPY SHOOPHING, BE SMART BUYER</p>
   
</body>
</html>